In [7]:
import pandas as pd

In [8]:
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

idx = [0, 1]

In [9]:
df = pd.DataFrame(arr)

In [10]:
df

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

In [11]:
idx

[0, 1]

In [12]:
df1 = df.groupby(idx).sum()

In [13]:
values = df1.values.tolist()
values

[[5, 30], [4, 11], [7, 12]]

In [27]:
keys = df1.index.tolist()
keys

[(1, 6), (8, 9), (9, 8)]

In [15]:
dictionary = dict(zip(keys,values))
dictionary

{(1, 6): [5, 30], (8, 9): [4, 11], (9, 8): [7, 12]}

In [24]:
import pandas as pd
def group(arr, idx):
    df = pd.DataFrame(arr)
    df1 = df.groupby(idx).agg('sum')
    values = df1.values.tolist()
    keys = df1.index.tolist()
    dictionary = dict(zip(keys,values))
    return dictionary

In [25]:
group([[1,2,3],[1,5,6],[1,8,9]],[0]), {(1,): [15, 18]}

({1: [15, 18]}, {(1,): [15, 18]})